WebContent/WEB-INF/wsdl/WSCustomerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://endpoint.customer/" name="WSCustomerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://endpoint.customer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://endpoint.customer/" schemaLocation="WSCustomerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findCustomer">
    <part name="parameters" element="tns:findCustomer"/>
  </message>
  <message name="findCustomerResponse">
    <part name="parameters" element="tns:findCustomerResponse"/>
  </message>
  <message name="findOrders">
    <part name="parameters" element="tns:findOrders"/>
  </message>
  <message name="findOrdersResponse">
    <part name="parameters" element="tns:findOrdersResponse"/>
  </message>
  <message name="createProduct">
    <part name="parameters" element="tns:createProduct"/>
  </message>
  <message name="createProductResponse">
    <part name="parameters" element="tns:createProductResponse"/>
  </message>
  <message name="createSupplier">
    <part name="parameters" element="tns:createSupplier"/>
  </message>
  <message name="createSupplierResponse">
    <part name="parameters" element="tns:createSupplierResponse"/>
  </message>
  <portType name="WSCustomer">
    <operation name="findCustomer">
      <input wsam:Action="http://endpoint.customer/WSCustomer/findCustomerRequest" message="tns:findCustomer"/>
      <output wsam:Action="http://endpoint.customer/WSCustomer/findCustomerResponse" message="tns:findCustomerResponse"/>
    </operation>
    <operation name="findOrders">
      <input wsam:Action="http://endpoint.customer/WSCustomer/findOrdersRequest" message="tns:findOrders"/>
      <output wsam:Action="http://endpoint.customer/WSCustomer/findOrdersResponse" message="tns:findOrdersResponse"/>
    </operation>
    <operation name="createProduct">
      <input wsam:Action="http://endpoint.customer/WSCustomer/createProductRequest" message="tns:createProduct"/>
      <output wsam:Action="http://endpoint.customer/WSCustomer/createProductResponse" message="tns:createProductResponse"/>
    </operation>
    <operation name="createSupplier">
      <input wsam:Action="http://endpoint.customer/WSCustomer/createSupplierRequest" message="tns:createSupplier"/>
      <output wsam:Action="http://endpoint.customer/WSCustomer/createSupplierResponse" message="tns:createSupplierResponse"/>
    </operation>
  </portType>
  <binding name="WSCustomerPortBinding" type="tns:WSCustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="findCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findOrders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createSupplier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSCustomerService">
    <port name="WSCustomerPort" binding="tns:WSCustomerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

